.container {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/4560150/pexels-photo-4560150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    .filter {
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, rgb(0, 0, 51, 0.3) 0%, rgb(0, 77, 0, 0.3) 123%);
        display: flex;
        justify-content: center;
        align-items: center;
        section {
            h1 {
                font-size: 50px;
                text-align: center;
                font-family: BPG Nino Mtavruli;
                color: #f2f2f2;
            }
            section {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 50px;
                button {
                    width: 250px;
                    height: 80px;
                    cursor: pointer;
                    background-color: unset;
                    border: 2px solid #FFF;
                    border-radius: 50px;
                    font-family: BPG Nino Mtavruli;
                    color: #FFF;
                    font-size: 25px;
                    letter-spacing: 2px;
                    transition: .4s linear;
                    background: linear-gradient(to right, rgb(0, 0, 0,0.5) 31%, rgb(217, 217, 217, 0.2) 42%);
                    background-size: 300%;
                    background-position-x: 70%;
                }
                button:hover {
                    box-shadow: 0px 0px 7px rgb(217, 217, 217, 0.5);
                    background-position-x: 0%;
                }
            }
            p {
                margin-top: 60px;
                text-align: center;
                font-family: BPG Nino Mtavruli;
                color: #f2f2f2;
                font-size: 20px;
                a {
                    color: #00cc7a;
                    text-decoration: none;
                    transition: .1s linear;
                    &:hover {
                        color: #73e600;
                    }
                }
                mat-icon {
                    height: 35px;
                    width: 35px;
                    font-size: 35px;
                    margin-left: 5px;
                }
            }
        }
    }
}