<header>
    <h1>სამუშაო გამოცდილება</h1>
</header>
<form [formGroup]="jobs"(submit)="onSubmit()">
    <section class="content">
        <button type="button" mat-raised-button class="addjob" [matBadge]="jobQuantity_BADGE" matBadgeColor="warn"
        (click)="addNewJob()"
        >სამუშაოს დამატება <mat-icon>add_circle</mat-icon></button>
        <article formArrayName="job">
            <div *ngFor="let job of getJob().controls; let jobIndex=index">
                <div class="work-Experience"
                [formGroupName]="jobIndex">
                <!-- Information on work experience -->
                <section class="N1-SEC">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>ორგანიზაციის დასახელება</mat-label>
                        <input matInput type="text"
                        formControlName="company">
                        <mat-error>ველის შევსება აუცილებელია!</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>პოზიციის დასახელება</mat-label>
                        <input matInput type="text"
                        formControlName="position">
                        <mat-error>ველის შევსება აუცილებელია!</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>მოკლე აღწერა</mat-label>
                        <textarea matInput placeholder="ჩემი სამუშაოს შესახებ..."
                        formControlName="shortDescription"></textarea>
                    </mat-form-field>
                </section>
                <!-- Working period -->
                <section class="N2-SEC">
                    <h3>სამუშაოს დაწყების თარიღი</h3>
                    <section>
                      <mat-form-field appearance="fill">
                        <mat-label>დღე</mat-label>
                        <mat-select disableRipple
                        formControlName="startDay">
                          <mat-option *ngFor="let num of date.day"
                          [value]="num">
                          {{num}}
                          </mat-option>
                        </mat-select>
                        <mat-error>ველის შევსება აუცილებელია!</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>თვე</mat-label>
                        <mat-select disableRipple
                        formControlName="startMonth">
                          <mat-option *ngFor="let month of date.month"
                          [value]="month">
                          {{month}}
                          </mat-option>
                        </mat-select>
                        <mat-error>ველის შევსება აუცილებელია!</mat-error>
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>წელი</mat-label>
                        <input matInput type="number"
                        formControlName="startYear">
                        <mat-error>ველის შევსება აუცილებელია!</mat-error>
                      </mat-form-field>
                    </section>
                    <h3>სამუშაოს დამთავრების თარიღი</h3>
                    <section>
                      <mat-form-field appearance="fill">
                        <mat-label>დღე</mat-label>
                        <mat-select disableRipple
                        formControlName="endDay">
                          <mat-option *ngFor="let num of date.day"
                          [value]="num">
                          {{num}}
                          </mat-option>
                        </mat-select>
                        <mat-error>ველის შევსება აუცილებელია!</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>თვე</mat-label>
                        <mat-select disableRipple
                        formControlName="endMonth">
                          <mat-option *ngFor="let month of date.month"
                          [value]="month">
                          {{month}}
                          </mat-option>
                        </mat-select>
                        <mat-error>ველის შევსება აუცილებელია!</mat-error>
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>წელი</mat-label>
                        <input matInput type="number"
                        formControlName="endYear">
                        <mat-error>ველის შევსება აუცილებელია!</mat-error>
                      </mat-form-field>
                    </section>
                    <button type="button" mat-raised-button
                    (click)="addNewAchivement(jobIndex)"
                    >მიღწევები</button>
                </section>
                <!-- information on getAchivements -->
                <section class="getAchivements" formArrayName="achievements">
                    <div class="achivement"
                    *ngFor="let achive of getAchivements(jobIndex).controls; let achiveIndex=index">
                        <div [formGroupName]="achiveIndex">
                            <section class="acivementPosition">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>პოზიციის დასახელება</mat-label>
                                    <input matInput type="text"
                                    formControlName="Position">
                                    <mat-error>ველის შევსება აუცილებელია!</mat-error>
                                </mat-form-field>
                            </section>
                            <section class="achivementWorkTime">
                                <h3>დაწყების თარიღი</h3>
                                <section>
                                  <mat-form-field appearance="fill">
                                    <mat-label>დღე</mat-label>
                                    <mat-select disableRipple
                                    formControlName="startDay">
                                      <mat-option *ngFor="let num of date.day"
                                      [value]="num">
                                      {{num}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error>ველის შევსება აუცილებელია!</mat-error>
                                  </mat-form-field>
                                  <mat-form-field appearance="fill">
                                    <mat-label>თვე</mat-label>
                                    <mat-select disableRipple
                                    formControlName="startMonth">
                                      <mat-option *ngFor="let month of date.month"
                                      [value]="month">
                                      {{month}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error>ველის შევსება აუცილებელია!</mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>წელი</mat-label>
                                    <input matInput type="number"
                                    formControlName="startYear">
                                    <mat-error>ველის შევსება აუცილებელია!</mat-error>
                                  </mat-form-field>
                                </section>
                                <h3>დამთავრების თარიღი</h3>
                                <section>
                                  <mat-form-field appearance="fill">
                                    <mat-label>დღე</mat-label>
                                    <mat-select disableRipple
                                    formControlName="endDay">
                                      <mat-option *ngFor="let num of date.day"
                                      [value]="num">
                                      {{num}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error>ველის შევსება აუცილებელია!</mat-error>
                                  </mat-form-field>
                                  <mat-form-field appearance="fill">
                                    <mat-label>თვე</mat-label>
                                    <mat-select disableRipple
                                    formControlName="endMonth">
                                      <mat-option *ngFor="let month of date.month"
                                      [value]="month">
                                      {{month}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error>ველის შევსება აუცილებელია!</mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>წელი</mat-label>
                                    <input matInput type="number"
                                    formControlName="endYear">
                                    <mat-error>ველის შევსება აუცილებელია!</mat-error>
                                  </mat-form-field>
                                </section>
                                <div class="deleteAchivement">
                                    <button type="button" mat-mini-fab aria-label="Example icon button with a menu icon"
                                    (click)="deleteAchivement(jobIndex, achiveIndex)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
                <section class="N3-SEC">
                        <button mat-raised-button class="deleteProfession" 
                        (click)="deleteJob(jobIndex)"
                        >ველის ამოშლა <mat-icon>delete</mat-icon></button>
                    </section>
                </div>
            </div>
        </article>
    </section>
    <!-- submit field -->
    <section class="submit">
        <ng-template #active>
            <button mat-raised-button color="warn"
            [disabled]="jobs.invalid || !jobQuantity_BADGE"
            >შენახვა</button>
        </ng-template>
        <button type="button" mat-raised-button color="primary"
        *ngIf="next; else active"
        routerLink="/language"
        >შემდეგი</button>
    </section>
</form>